[Unit]
Description=SOMA facer (%i)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/facer -c /etc/soma.d/facer/%i.conf
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target