[Unit]
Description=SOMA skuder
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/skuder -c /etc/soma.d/skuder/skuder.conf
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target