[Unit]
Description=SOMA streamer (%i)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/streamer -c /etc/soma.d/streamer/%i.conf
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target